@charset "UTF-8";

.ui-accordion {
  position: relative;
}

.rotate-flip {
  transform: rotate(180deg) !important;
}

.accordion {
  width: 100%;
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 32px;
    background-color: #f3f6fb;
  }
  &-col-item {
    position: relative;
    padding-bottom: 40px;
    h2 {
      margin-bottom: 16px;
    }
    & + & {
      padding-top: 40px;
      &::before {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #dce2ed;
      }
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  &-list {
    > li {
      display: flex;
      gap: 0 10px;
      span {
        &:first-child {
          width: 155px;
          flex-shrink: 0;
        }
        .ui-group {
          .text-body-2 {
            word-break: break-all;
          }
        }
      }
      & + li {
        margin-top: 24px;
      }
    }
  }
}
