@charset "UTF-8";

@mixin textEllipsisClamp($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

.grid-card {
  min-width: 501px;
  background: #fff;
  border: 1px solid #dce2ed;
  border-radius: 12px;
  padding: 24px;
  height: 100%;
  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    min-height: 62px;

    & > .grid-card-checkbox {
      padding-top: 4px;
    }
    & > .grid-card-title {
      flex: 1;
      & > div {
        margin: 0;
        word-break: break-all;
        @include textEllipsisClamp(1);
      }
      & > p {
        & > div {
          @include textEllipsisClamp(1);
        }
        margin: 2px 0 0;
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;

    & > .grid-card-progress {
      margin-top: 16px;
    }

    & > .grid-card-status {
      min-height: 38px;
      & + .grid-card-progress {
        margin-top: 24px;
      }
    }

    & > .grid-card-row {
      margin-top: 12px;
      display: flex;
      & + .grid-card-row {
        margin-top: 4px;
      }

      & > .label {
        width: 100px;
        color: #555;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.08px;
      }

      & > .value {
        flex: 1;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.08px;
        color: #222;
        position: relative;
        min-width: 0;
        word-break: break-all;
        @include textEllipsisClamp(1);
      }
    }
  }

  &-menu {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #555;
  }
}

// Card (text / total)
.card-default {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e7edf6;
  border-radius: 16px;

  .card-top-cont {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 8px;
    justify-content: flex-end;
  }

  .card-list-wrapper {
    display: flex;
    flex-direction: row;
  }

  .card-list {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 4px 0;
    &-title,
    &-text {
      color: #545454;
      text-align: center;
    }
    &-title {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    &-text {
      font-size: 18px;
      font-weight: 700;
    }
    & + .card-list {
      &::before {
        display: inline-block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #9dc1ff;
        opacity: 0.3;
      }
    }
    &:not(:last-child) {
      padding-right: 16px;
    }
    &:not(:first-child) {
      padding-left: 16px;
    }
  }

  &.type-progress {
    padding: 31px 24px;
    .card-list-wrapper {
      .card-list {
        padding: 0;
        flex: 220px 0 0;
        &:nth-child(1) {
          margin-left: 84px;
          flex: 1;
        }
        &:nth-child(2) {
          position: relative;
          .card-loading {
            position: absolute;
            width: 26px;
            height: 26px;
            left: 12px;
          }
        }
        &::before {
          display: none;
        }
      }
    }
  }
}

.col-red {
  color: #e21717 !important;
}
.col-blue {
  color: #005df9 !important;
}
.col-gray {
  color: #8b95a9 !important;
}
.col-green {
  color: #008479 !important;
}

// Chart
.chart-container {
  display: flex;
  gap: 0 16px;
  &.grid-col2 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .chart-item {
    flex: 1;
    padding: 24px;
    border: 1px solid #e7edf6;
    border-radius: 16px;
    // min-height: 368px; 삭제필요
    cursor: pointer;
    &.flex-w-none {
      flex: none;
    }
  }
  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .chart-title {
      font-size: 16px;
      font-weight: 600;
      color: #373e4d;
    }
    .chart-info {
      display: flex;
      align-items: center;
      border-radius: 50px;
      height: 21px;
      line-height: 21px;
      padding: 0 12px;
      font-size: 12px;
      color: #8b95a9;
      gap: 0 3px;
      background: #e7edf6;
      &-bul {
        width: 6px;
        height: 6px;
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: #005df9;
      }
      &-text {
        font-size: 12px;
        color: #8b95a9;
        font-weight: 600;
      }
    }
    & div + div {
      line-height: 26px !important;
    }
  }
  .chart-graph {
    width: 100%;
    // background-color: gainsboro;
  }
}

.card-form-box {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #e5eeff;

  .form-head {
    margin-bottom: 8px;
  }
}

// Card info

.card-info {
  display: grid;
  gap: 16px;
  .card-info-item {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    border: 1px solid #e7edf6;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px;
    .colum {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px 0;
      .label {
        font-size: 16px;
        font-weight: 400;
        color: #576072;
      }
      .value {
        font-size: 16px;
        font-weight: 600;
        color: #373e4d;
      }
    }
  }
}

// Card - nodata
.card-info-no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 224px;
  width: 100%;
  border: 1px solid #e7edf6;
  border-radius: 16px;
}

.box-group {
  width: 100%;
  min-height: 250px;
  &-item {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e7edf6;
    &.box-fixed {
      flex: 902px 0 0;
      min-height: 348px;
    }
  }
  .box-main {
    &-dev {
      background:
        url(/public/assets/images/system/ico-system-200-home.svg) no-repeat right 20px center,
        linear-gradient(to left, #e7edf6 0%, #ffffff 100%);
    }
    &-prod {
      background:
        url(/public/assets/images/system/ico-system-200-agent.svg) no-repeat right 20px center,
        linear-gradient(to left, #e7edf6 0%, #ffffff 100%);
    }
  }
  .item-header {
    display: flex;
    align-items: center;
    gap: 8px;
    .right {
      margin-left: auto;
    }
  }
  & ~ .box-group {
    margin-top: 24px;
    display: grid;
    min-width: 0;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.no-date {
  display: flex;
  width: 100%;
  padding: 74px 0;
  gap: 12px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chart-legend {
  display: flex;
  gap: 0 6px;
  ul {
    display: flex;
    gap: 0 8px;
  }
  .legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
    .legend-label {
      color: #8b95a9;
    }
    .legend-marker {
      width: 8px;
      height: 8px;
      border-radius: 1px;
      &-blue {
        background-color: #005df9;
      }
      &-gray {
        background-color: #dce2ed;
      }
      &-sky {
        background-color: #9dc1ff;
      }
    }
  }
}

.project-card {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #e7edf6;
  &.bg-gray {
    background-color: #f3f6fb;
  }
  ul {
    > li {
      display: flex;
      gap: 0 16px;
      > div:nth-child(1) {
        min-width: 100px;
      }
    }
  }
}

.card-banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 24px;
  &-item {
    display: grid;
    grid-template-columns: 1fr 48px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 16px;
    background: #f3f6fb;
  }
}

.ai-status {
  width: 100%;
  &-list {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0 10px;
    > li {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 6px 0;
    }
    &-count {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      background-color: gainsboro;
    }
  }
}
.dash-top {
  .box-group-item {
    flex: 0 0 auto;
    &:nth-child(1) {
      flex: 1;
    }
    &:nth-child(2) {
      width: 590px;
    }
  }
}
