@charset "UTF-8";

.progress {
    &-wrap {
        position: relative;
        display: flex;
        width:100%;
        align-items: center;
        gap: 12px;
        &.error{
            .progress-bar{
                background-color: #D61111;
            }
        }
    }
    &-gauge{
        position: relative;
        display: flex;
        width:100%;
        height: 4px;
        border-radius: 4px;
        overflow: hidden;
    }
    &-bg {
        display: flex;
        align-items: center;
        gap: 4px;
        width: 100%;
        height: 4px;
        background-color: #CDE0FF;
        border-radius: 4px;
    }
    &-bar {
        position:absolute;
        top:0;
        left:0;
        height: 4px;
        background-color: #2670FF;
        width: 0;
        border-radius: 4px;
    }
    &-percent {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.08px;
        color: #272B2F;
    }
    
}