@charset "UTF-8";

.tooltip-wrap {
  line-height: 0;
  // bulletType='dash' 중복으로 스타일 제거
  // .ui-list-dash {
  //   > li {
  //     & + li {
  //       margin-top: 4px;
  //     }
  //     &::before {
  //       display: inline-block;
  //       content: '-';
  //     }
  //   }
  // }
}

.admin-badge {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ff4512;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.87988 0C4.04243 0.000356658 4.18231 0.118243 4.21094 0.27832L4.29785 0.764648C4.3083 0.824188 4.34051 0.881769 4.39763 0.901569C4.54528 0.952758 4.68736 1.01636 4.82234 1.09066C4.82469 1.09195 4.82788 1.09235 4.83008 1.09082L5.23535 0.808594C5.36894 0.715584 5.54989 0.73163 5.66504 0.84668L6.20312 1.38477C6.31785 1.49995 6.33417 1.681 6.24121 1.81445L5.95898 2.21973C5.94934 2.23347 5.94545 2.2499 5.95303 2.26488C6.00782 2.37324 6.05645 2.48554 6.09701 2.60147C6.11715 2.65904 6.17531 2.69245 6.23535 2.70312L6.72168 2.79004C6.88174 2.81892 6.99902 2.9584 6.99902 3.12109V3.88184C6.99872 4.04432 6.88162 4.18412 6.72168 4.21289L6.23535 4.2998C6.17479 4.31056 6.11602 4.34335 6.09588 4.40147C6.0605 4.50356 6.0193 4.60293 5.97263 4.69916C5.94564 4.7548 5.96365 4.82036 5.99902 4.87109L6.28125 5.27637C6.37389 5.4099 6.35805 5.59104 6.24316 5.70605L5.70508 6.24414C5.59006 6.35913 5.40897 6.3749 5.27539 6.28223L4.87012 6C4.82001 5.96507 4.75538 5.94733 4.70041 5.97396C4.60321 6.02104 4.50272 6.06234 4.39954 6.09791C4.34138 6.11796 4.30862 6.17674 4.29785 6.2373L4.21094 6.72363C4.18214 6.88358 4.04239 7.00073 3.87988 7.00098H3.11914C2.95646 7.00098 2.81698 6.88367 2.78809 6.72363L2.70117 6.2373C2.69049 6.17726 2.6571 6.1191 2.59945 6.0992C2.49515 6.06319 2.39358 6.02115 2.2954 5.97339C2.24116 5.94701 2.17834 5.96544 2.12891 6L1.72363 6.2832C1.59017 6.37617 1.40816 6.35889 1.29297 6.24414L0.754883 5.70703C0.63979 5.5919 0.623813 5.40998 0.716797 5.27637L1 4.87109C1.03433 4.82194 1.0512 4.75816 1.02497 4.70425C0.976811 4.60529 0.934429 4.50286 0.898206 4.39771C0.878688 4.34104 0.821715 4.30925 0.762695 4.29883L0.276367 4.21191C0.116311 4.18319 0.000232262 4.04345 0 3.88086V3.12012C6.70906e-05 2.95736 0.116168 2.81779 0.276367 2.78906L0.762695 2.70215C0.821719 2.69167 0.878691 2.65897 0.89834 2.60234C0.93459 2.49785 0.97714 2.39624 1.02521 2.2979C1.05187 2.24335 1.03386 2.17961 0.999023 2.12988L0.716797 1.72461C0.623945 1.5911 0.640028 1.41004 0.754883 1.29492L1.29297 0.756836C1.40805 0.641754 1.58904 0.625883 1.72266 0.71875L2.12891 1.00098C2.17827 1.03563 2.24115 1.05397 2.29534 1.0275C2.39417 0.979221 2.49631 0.936564 2.60134 0.900225C2.65796 0.880634 2.69075 0.823652 2.70117 0.764648L2.78809 0.27832C2.81676 0.117998 2.95627 0 3.11914 0H3.87988ZM3.5 2.38672C2.88475 2.38672 2.38574 2.88573 2.38574 3.50098C2.38597 4.11603 2.88489 4.61426 3.5 4.61426C4.11489 4.614 4.61305 4.11587 4.61328 3.50098C4.61328 2.88589 4.11503 2.38697 3.5 2.38672Z' fill='white'/%3E%3C/svg%3E%0A");
  z-index: 3;
}
