@charset "UTF-8";

[class^='text'][class*='-headline-1'] {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.08px;
}
[class^='text'][class*='-headline-2-product'] {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.08px;
}
[class^='text'][class*='-headline-1'] {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.08px;
}

[class^='text'][class*='-headline-2'] {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.08px;
}

[class^='text'][class*='-headline-2-product'] {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.08px;
}

[class^='text'][class*='-title-1'] {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.08px;
}

[class^='text'][class*='-title-2'] {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.08px;
}

[class^='text'][class*='-title-3'] {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.08px;
}

[class^='text'][class*='-title-4'] {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.08px;
}

[class^='text'][class*='-body-1'] {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.08px;
  font-weight: 400;
}

[class^='text'][class*='-body-2'] {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.08px;
  font-weight: 400;
}

[class^='text'][class*='-body-3'] {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.08px;
  font-weight: 400;
}

[class^='text'][class*='-caption-1'] {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.08px;
  font-weight: 400;
}

[class^='text'][class*='-caption-2'] {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.08px;
  font-weight: 400;
}

[class^='text'][class*='-appbar-1'] {
}

[class^='text'][class*='-appbar-2'] {
}

[class^='text'][class*='-bottom-1'] {
}
[class^='text'][class*='-grid-header'] {
  span {
    font-weight: 600;
  }
  strong {
    font-weight: 600;
    color: #005df9;
  }
}
[class^='text'][class$='-sb'] {
  font-weight: 600;
}
[class^='text'][class$='-b'] {
  font-weight: 700;
}

/* 구체적인 조합 선택자들 */
[class^='text'][class*='-body-1'][class$='-sb'] {
  font-weight: 600;
}
[class^='text'][class*='-body-2'][class$='-sb'] {
  font-weight: 600;
}
[class^='text'][class*='-body-3'][class$='-sb'] {
  font-weight: 600;
}
