apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: axportal
  name: backend-migration
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: efs-sc # 명시하지 않으면 default SC 사용
