@charset "UTF-8";

.b-selectbox {
  width: 100%;
  height: 38px;
  padding: 0 16px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #d1d5db;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
  cursor: pointer;
  appearance: none;
  outline: none;
  background: white
    url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6" stroke="%23666" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 16px;
}

.builder-tooltip {
  width: 300px;
  z-index: 9999;
  border: 1px solid #c7cedc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  pointer-events: auto;
  .tooltip-content {
    &-text {
      font-size: 14px;
      color: #373e4d;
    }
  }
}
