@charset "UTF-8";

.lnb-menu-wrap {
  > button {
    position: relative;
    &::after {
      display: none;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 2px;
      height: 52px;
      transform: translateY(-50%);
      background-color: #2670ff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &.active {
      background-color: #eff5ff;
      &::after {
        display: inline-block;
      }
    }
  }
}
