@charset "UTF-8";

@mixin textEllipsisClamp($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

.alarm * {
  letter-spacing: -0.08px;
}

.alarm {
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  overflow-y: auto;

  &-header {
    padding: 24px 64px 24px 24px;
    position: relative;

    &-title {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #121315;
    }
  }

  &-content {
    padding: 24px;
  }

  &-close {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 24px;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transform: translateY(-50%);
    background: url(/public/assets/images/common/icon-modal-close.svg) no-repeat 0 0;
  }

  .head-aaa {
    color: #000;
  }
}

.date-divider {
  font-size: 14px;
  color: #242a34;
  font-weight: 600;
  margin-bottom: 16px;
}

.alarm-group {
  padding-bottom: 24px;
  & + .alarm-group {
    padding-top: 20px;
    border-top: 1px solid #dce2ed;
  }

  .item {
    position: relative;

    & + .item {
      margin-top: 32px;
    }

    // item 영역에 hover 사용시
    // &:hover {
    //   background-color: #fafafa;
    // }

    &-head {
      gap: 8px;
      margin-bottom: 4px;

      .title {
        font-size: 16px;
        font-weight: 600;
        color: #373e4d;
        line-height: 1.4;
        display: inline-block;

        &.dot {
          &::after {
            content: '';
            position: relative;
            display: inline-block;
            margin-left: 8px;
            top: -7px;
            width: 6px;
            height: 6px;
            background-color: #005df9;
            border-radius: 50%;
            margin-top: 4px;
          }
        }
      }
    }

    &-desc {
      font-size: 16px;
      color: #576072;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 16px;
    }

    &-time {
      font-size: 14px;
      color: #8b95a9;
      line-height: 20px;
      font-weight: 400;
    }

    &.is-read {
      // opacity: 0.8;
      .dot {
        &::after {
          display: none;
        }
      }
    }
  }
}

// Sidebar 모달 (공통)
.side-code {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}

.side-code-item {
  .code-head {
    &-top {
      display: flex;
      justify-content: space-between;
      strong {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: #121315;
      }
    }
    &-desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #373e4d;
    }
  }
  .code-edit {
    height: 384px;
  }
}

// 홈 > 공지사항
.notice-container {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  .notice-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px 0;
    .label,
    .datetime {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.08px;
      font-weight: 400;
    }
    .label {
      color: #7e889b;
    }
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.08px;
      color: #373e4d;
      text-align: left;
      @include textEllipsisClamp(1);
    }
    .datetime {
      color: #576072;
    }
  }
}
