@charset "UTF-8";
@import '../abstracts/mixins';

.ui-group {
  width: 100%;
  display: flex !important;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.evenly {
    & > div {
      flex: 1;
    }
  }
}

// 플레이그라운드

.play-wrap {
  display: flex;
  flex-direction: column;
  gap: 0 20px;
  .play-grid-fix {
    display: flex;
    gap: 0 20px;
    align-items: flex-start;
  }
  .play-grid-wrap {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.playground-card-box {
  // width: 504px;
  flex: 1;
  min-height: 405px;
  .box-container {
    width: 100%;
    // width: 504px;
    height: 100%;
    // max-height: 405px;
    border: 1px solid #dce2ed;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    .area-none-line {
      .box-article {
        background-color: #fff !important;
        &.fade-bottom {
          &::after {
            top: initial;
          }
        }

        &.fade-top {
          &::after {
            top: -10px;
          }
        }
      }
      .textfield {
        padding: 0 !important;
        height: 536px;
        border: 0;
        textarea {
          height: 536px;
        }
      }
    }

    .w-full {
      .flex > .flex {
        .text-body-1 {
          min-width: 0;
          @include textEllipsisClamp(1);
        }
      }
    }

    .bg-white {
      .flex-col {
        h3 {
          @include textEllipsisClamp(1);
        }
      }
    }

    .box-article {
      position: relative;
      width: 100%;
      height: 258px;
      background-color: #eff5ff;
      padding-top: 16px;
      padding-right: 6px;
      padding-bottom: 10px;
      padding-left: 16px;
      border-radius: 12px;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        height: 60px;
        pointer-events: none;
      }

      &.fade-bottom {
        &::after {
          top: initial;
          bottom: -15px;
          background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.4) 65%, rgba(255, 255, 255, 0) 100%);
        }
      }

      &.fade-top {
        &::after {
          top: -10px;
          bottom: initial;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.4) 65%, rgba(255, 255, 255, 0) 100%);
        }
      }
    }
  }
  &.error {
    .box-container {
      border-color: #d61111;
    }
  }
  .card-none {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .card-code {
    width: 100%;
    height: 258px;
    padding-top: 16px;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-left: 16px;
    border-radius: 12px;
    background-color: #eff5ff;
  }
  .response-none {
    display: flex;
    height: 100%;
    gap: 20px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #000;
    }
  }
  .msg-error {
    padding: 4px 0 0 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #d61111;
  }
}

// scroll (디자인)
.box-article-cont::-webkit-scrollbar {
  width: 4px;
  margin-right: 4px; /* 스크롤바와 컨테이너 사이 여백 효과 */
}
.box-article-cont::-webkit-scrollbar-thumb {
  background: #dce2ed;
  border-radius: 6px;
}
.box-article-cont::-webkit-scrollbar-track {
  background: transparent;
}
.box-article-cont::-webkit-scrollbar-button {
  display: none !important;
}

.custom-box-scroll::-webkit-scrollbar {
  width: 4px;
  margin-right: 4px; /* 스크롤바와 컨테이너 사이 여백 효과 */
}
.custom-box-scroll::-webkit-scrollbar-thumb {
  background: #dce2ed;
  border-radius: 6px;
}
.custom-box-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-box-scroll::-webkit-scrollbar-button {
  display: none !important;
}

.dropdown-scrollbar::-webkit-scrollbar-button {
  display: none !important;
}
