@charset "UTF-8";
.unit-group {
  width: 100%;
  display: flex !important;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.evenly {
    & > div {
      flex: 1;
    }
  }
  &.align-center {
    align-items: center;
  }
}
