@charset "UTF-8";

/* abstracts */
@use './abstracts/_variables';
@use './abstracts/_mixins';

@use './base/_reset';
@use './base/_font';
@use './base/_guide';

@use './_components';
@use './_templates';

@use './_pages';

.ui-accordion-sample {
  display: none;
}
.ui-accordion {
  display: block;
}
