@charset "UTF-8";

/** Pretendard - 폰트 로딩 (woff 사용) **/
@font-face {
  font-family: 'pretendard';
  font-display: swap;
  font-weight: 300;
  src: url('/assets/font/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'pretendard';
  font-display: swap;
  font-weight: 400;
  src: url('/assets/font/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'pretendard';
  font-display: swap;
  font-weight: 500;
  src: url('/assets/font/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'pretendard';
  font-display: swap;
  font-weight: 600;
  src: url('/assets/font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'pretendard';
  font-display: swap;
  font-weight: 700;
  src: url('/assets/font/Pretendard-Bold.woff') format('woff');
}
