// Global styles (compiled by Live Sass Compiler)

$brand-color: #0046ff;

:root {
  --brand-color: #{$brand-color};
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    'pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    Arial,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  color: #111;
  background: #fff;
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
